body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.nameHighLight{
    color: orange;
}
.width-left{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.width-left img{
    width: 100%;
}